@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>


<address>
    Locadora de Filmes Brasil<br />
    Cidade: Assis<br />
    Rua: A, NºXXXX<br />
    <abbr title="Phone">Telefone:</abbr>
    XXXXX-XXXXX
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:matheusfpbernardo@gmail.com">matheusfpbernardo@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:RenanGuerin@example.com">RenanGuerin@example.com</a>
</address>